---
// Astro Base
import Layout from "../layouts/Layout.astro";

// Astro Components
import Hero from "../components/Hero.astro";
import OurMision from "../components/OurMision.astro";
import OurVision from "../components/OurVision.astro";
import OurValues from "../components/OurValues.astro";
import Projects from "../components/Projects.astro";

const Title: Readonly<string> = "Codempanada";
const Description: Readonly<string> = `
  Since 2024 Codempanada has been created to make changes in the world as we know it,
  help us and join us to reach as many people as possible. our mission and vision is 
  to try to offer a wide variety of software or libraries that can be used freely and 
  even for free so that anyone who wants to contribute their bit can do it.
  `;
---

<Layout title={Title} , description={Description}>
  <main>
    <Hero />
    <OurMision />
    <OurVision />
    <OurValues />
    <Projects />
  </main>
</Layout>

<style>
  @media (min-width: 320px) and (max-width: 480px) {
    /* Smartphones, iPhone, teléfonos en modo retrato */
    main {
      width: 100%;
    }
  }

  @media (min-width: 600px) and (max-width: 801px) {
    /* Tablets en modo retrato, iPad en modo retrato, e-readers (Nook/Kindle) */
    main {
      width: 80%;
      margin: 0 auto;
    }
  }

  @media (min-width: 1025px) {
    /* Tablets grandes en modo paisaje, laptops y escritorios */
    main {
      width: 60%;
      margin: 0 auto;
    }
  }
</style>
