---
const title = "Codempanada";
const text = `
    codempanada was born to reign and not to die, 
    we try to offer our best to make the world a better place. 
    what are you waiting for, be part of our community!
`;
---

<div
  class="d-flex flex-column justify-content-center align-items-center"
  id="hero"
>
  <h1 class="display-1">{title}</h1>
  <p class="lead fst-italic text-center text-wrap w-75">{text}</p>

  <div class="d-flex justify-content-center align-items-center">
    <a class="btn" href="#projects">Know More <i class="bi bi-arrow-down-short"></i></a>
  </div>
</div>
<style>
  @media (min-width: 320px) and (max-width: 599px) {
    /* Smartphones, iPhone, teléfonos en modo retrato */
    #hero {
      height: 100dvh;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    /* Tablets en modo retrato, iPad en modo retrato, e-readers (Nook/Kindle) */
    #hero {
      height: 100dvh;
    }
  }

  @media (min-width: 1025px) {
    /* Tablets grandes en modo paisaje, laptops y escritorios */
    #hero {
      height: 75dvh;
    }
  }
</style>
