---
import { Picture } from "astro:assets";

import MisionImage from "../../public/mision.png";

const title: Readonly<string> = `Mision`;
const text: Readonly<string> = `
  we as a company have a mission to develop, test and implement quality
  software and libraries. every development will be done with best practices
  in coding, documentation, architectures and more. we hope hundreds of
  contributors will join us to reach more people.
  `;
---

<section
  class="d-flex flex-column flex-md-row justify-content-center align-items-center"
  id="our-mision"
>
  <div class="d-flex flex-column justify-content-center align-items-center flex-fill">
    <h2 class="text-center display-2">{title}</h2>
    <p class="lead fst-italic text-center text-wrap w-75">{text}</p>
  </div>
  <div class="flex-fill">
    <Picture
      src={MisionImage}
      alt="mision of company"
      formats={["webp"]}
      class:list={["img-fluid"]}
    />
  </div>
</section>

<style>
  @media (min-width: 320px) and (max-width: 599px) {
    /* Smartphones, iPhone, teléfonos en modo retrato */
    #our-mision {
      height: 100dvh;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    /* Tablets en modo retrato, iPad en modo retrato, e-readers (Nook/Kindle) */
    #our-mision {
      height: 100dvh;
    }
  }

  @media (min-width: 1025px) {
    /* Tablets grandes en modo paisaje, laptops y escritorios */
    #our-mision {
      height: 75dvh;
    }
  }
</style>
