---
import { Picture } from "astro:assets";

import VisionImage from "../../public/vision.jpg";

const title: Readonly<string> = `Vision`;
const text: Readonly<string> = `
  our vision is to achieve worldwide success in software and code quality, 
  demonstrating that perseverance, discipline and responsibility can make 
  a difference in the world. We hope that every being on this planet can 
  receive a piece of the magic that we want to emanate through this work.
`;
---

<section
  class="d-flex flex-column-reverse flex-md-row justify-content-center align-items-center"
  id="our-vision"
>
  <div>
    <Picture
      src={VisionImage}
      alt="vision of company"
      formats={["webp"]}
      class:list={["img-fluid"]}
    />
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center display-2">{title}</h2>
    <p class="lead fst-italic text-center text-wrap w-75">{text}</p>
  </div>
</section>
<style>
  @media (min-width: 320px) and (max-width: 599px) {
    /* Smartphones, iPhone, teléfonos en modo retrato */
    #our-vision {
      height: 100vh;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    /* Tablets en modo retrato, iPad en modo retrato, e-readers (Nook/Kindle) */
    #our-vision {
      height: 75dvh;
    }
  }

  @media (min-width: 1025px) {
    /* Tablets grandes en modo paisaje, laptops y escritorios */
    #our-vision {
      height: 75dvh;
    }
  }
</style>
