---
import { Picture } from "astro:assets";

import ValuesImage from "../../public/values.png";

const title: Readonly<string> = `Values`;
const text: Readonly<string> = `
    Since we founded this company, we strive to implement 
    all processes: planning, development, testing and 
    production of each software, with the responsibility 
    to demonstrate quality in each one. We are always 
    updating ourselves to know how we can develop software 
    that benefits someone. We hope to create a community or 
    simply get to have a wide audience that we feel part of it.
`;
---

<section
  class="d-flex flex-column flex-md-row justify-content-center align-items-center"
  id="our-values"
>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2 class="text-center display-2">{title}</h2>
    <p class="lead fst-italic text-center text-wrap w-75">{text}</p>
  </div>
  <div>
    <Picture
      src={ValuesImage}
      alt="value of company"
      formats={["webp"]}
      class:list={["img-fluid"]}
    />
  </div>
</section>
<style>
  @media (min-width: 320px) and (max-width: 599px) {
    /* Smartphones, iPhone, teléfonos en modo retrato */
    #our-values {
      height: 100dvh;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    /* Tablets en modo retrato, iPad en modo retrato, e-readers (Nook/Kindle) */
    #our-values {
      height: 75dvh;
    }
  }

  @media (min-width: 1025px) {
    /* Tablets grandes en modo paisaje, laptops y escritorios */
    #our-values {
      height: 75dvh;
    }
  }
</style>
