---
const title: Readonly<string> = `Projects`;
const text: Readonly<string> = `
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus sed debitis
  nulla consequatur recusandae, illum incidunt perferendis expedita odio!
  Excepturi, placeat sed minus nobis doloribus dolorem quos porro minima,
  quidem maiores temporibus corporis. Neque, dolore reprehenderit veniam
  necessitatibus itaque illo sit aliquam rerum in error voluptatibus aut non
  earum cum?
`;
---

<div
  class="d-flex flex-column justify-content-center align-items-center"
  id="projects"
>
  <h2 class="text-center display-2">{title}</h2>
  <p class="lead fst-italic text-center text-wrap w-50">{text}</p>
</div>
<style>
  @media (min-width: 320px) and (max-width: 599px) {
    /* Smartphones, iPhone, teléfonos en modo retrato */
    #projects {
      height: 100vh;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    /* Tablets en modo retrato, iPad en modo retrato, e-readers (Nook/Kindle) */
    #projects {
      height: 75dvh;
    }
  }

  @media (min-width: 1025px) {
    /* Tablets grandes en modo paisaje, laptops y escritorios */
    #projects {
      height: 75dvh;
    }
  }
</style>
